<h1>グループ詳細</h1>
<p>グループ画像</p>
<%= @group.name %></br>
<%= @group.introduction %></br>
<% if @group.is_owned_by?(current_user) %>
  <%= link_to "編集", edit_group_path(@group.id) %>
<% end %>
<% if @group.include_user?(current_user) %>
  <%= link_to "グループを退会する", groups_path %>
<% else %>
  <%= link_to "グループに参加する", groups_path %>
<% end %>