
<%= render 'bookserror', book: @book %>
<div class="container px-5">
  <div class="row">

    <%= render partial: 'books', locals: { user: @user, book: @book } %>


    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
            <%= link_to user_path(@user) do %>
              <%= image_tag @user.get_profile_image(100,100) %><br>
              <%= @user.name %>
            <% end %>
            </td>
            <td>
            <%= link_to book_path(@books.id) do %>
              <%= @books.title %>
            <% end %>
            </td>
            <td><%= @books.body %></td>
            <td>
            <% if @books.user == current_user %>
              <%= link_to "Edit", edit_book_path(@books), class: "btn btn-sm btn-success" %>
            <% end %>
            </td>
            <td>
            <% if @books.user == current_user %>
              <%= link_to "Destroy", book_path(@books), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %>
            <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>